@page "/benta"
@inherits OwningComponentBase<EmployeeService>
@inject IEmployeeServices EmployeeService

@rendermode InteractiveAuto

<div class="input-container ic1">
    <input id="employeeID" class="input" type="text" list="EmployeeData" placeholder=" " autocomplete="on" />
    <datalist id="EmployeeData">
        @foreach (var employee in employee)
        {
            <option>@($"{employee.EmployeeName} - {employee.EmployeeID}")</option>
        }
    </datalist>
    <div class="cut"></div>
    <label for="employeeID" class="placeholder">Employee ID</label>
</div>

@code
{
    List<EmployeeData>? employee = null;

    protected override async Task OnInitializedAsync()
    {
        employee = await EmployeeService.GetAllEmployees();
    }

    protected override void OnInitialized()
    {
        employee = Service.SearchEmployee();
    }
}
