@page "/huh"
@inject IEmployeeServices EmployeeService

<h3>Huh</h3>

@if (employee == null)
{
    <span>Loading...</span>
}
else if (employee.Count == 0)
{
    <span>Wala boi</span>
}
else
{
    <ul>
        @foreach (var employee in employee)
        {
            <li>@employee.EmployeeName, @employee.EmployeeID </li>
        }
    </ul>
}

@code
{
    List<EmployeeData>? employee = null;

    protected override async Task OnInitializedAsync()
    {
        employee = await EmployeeService.GetAllEmployees();
    }
}